@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --font-booton: var(--font-booton);
}

@theme {

  --color-neutral-0: rgba(255, 255, 255, 1);
  --color-neutral-500: rgba(141, 141, 141, 1);
  --color-neutral-700: rgba(77, 77, 77, 1);
  --color-neutral-800: rgba(56, 56, 56, 1);
  --color-neutral-900: rgba(26, 26, 26, 1);
  --color-neutral-950: rgba(0, 2, 5, 1);

  --color-blue-500: rgba(41, 121, 255, 1);

  --color-alpha-neutral-80: rgba(255, 255, 255, 0.8);
  --color-alpha-neutral-54: rgba(0, 2, 5, 0.54);
  --color-alpha-neutral-24: rgba(141, 141, 141, 0.24);
  --color-alpha-neutral-16: rgba(141, 141, 141, 0.16);
  --color-alpha-neutral-10: rgba(141, 141, 141, 0.1);
  --color-alpha-neutral-0: rgba(255, 255, 255, 0);

  --color-text-primary: var(--color-neutral-0);
  --color-text-secondary: var(--color-neutral-500);
  --color-text-tertiary: var(--color-neutral-700);
  --color-text-quaternary: var(--color-neutral-800);
  --color-text-brand: var(--color-blue-500);

  --color-bg-primary: var(--color-neutral-950);
  --color-bg-secondary: var(--color-neutral-900);
  --color-bg-tertiary: var(--color-alpha-neutral-54);

  --color-stroke-active: var(--color-blue-500);
  --color-stroke-default: var(--color-alpha-neutral-24);
  --color-stroke-disabled: var(--color-alpha-neutral-24);

}