.headerLogo {
    display: flex;
    align-items: center;
    justify-content: start;
}

.headerDescription {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    color: var(--text-tertiary, #4D4D4D);
}

.headerNavigation {
    display: flex;
    align-items: center;
    justify-content: end;
}